@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
  margin: .4rem 0;
}


body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("./waiting.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  font-family: sans-serif;
}


.div1{
  display:contents;
  font-size: 20px;
  

}

#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  padding: 40px 80px;
  border-radius: 10px;
}

#title {
  font-size: 60px;
  font-family: "Pacifico", cursive;
}

#minuteur {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 25px;
  margin: 10vh auto;
}




.box {
  height: 200px;
  text-align: center;
  background-color: #1b1b1b;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.box > div:first-child {
  font-size: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 20px;
}

.unite {
  padding: 10px 20px;
  background-color: #0a0a0a;
  font-size: 20px;
}
